<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- Employee Dashboard Links -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee/dashboard">
        <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee/request-vacation">
        <i class="mdi mdi-calendar-multiple-check menu-icon"></i>
        <span class="menu-title"> Vacations</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee/announcements">
        <i class="mdi mdi-bell-outline menu-icon"></i>
        <span class="menu-title">Announcements</span>
      </a>
    </li>
    <!-- Add more links as needed -->
  </ul>
</nav>
