<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- Admin Dashboard Links -->

      <a class="nav-link" routerLink="/admin/dashboard">
        <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>


      <a class="nav-link" routerLink="/admin/employees">
        <i class="mdi mdi-account-multiple-outline menu-icon"></i>
        <span class="menu-title">Manage Employees</span>
      </a>


      <a class="nav-link" routerLink="/admin/vacations">
        <i class="mdi mdi-calendar-multiple-check menu-icon"></i>
        <span class="menu-title">Vacation Requests</span>
      </a>

  </ul>
</nav>
