<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <h1 class="card-body text-center">Demander un Congé</h1>
</div>

<div class="row">
  <div class="col-xl-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="border p-3 rounded">
          <h6 class="mb-3 text-uppercase">Veuillez remplir ce formulaire !</h6>
          <hr/>
          <form class="row g-3" *ngIf="!submitted">
            <div class="col-12">
              <label for="dateDebut" class="form-label">Date Début</label>
              <input id="dateDebut" name="dateDebut" type="date" class="form-control" required [(ngModel)]="conge.dateDebut">
            </div>

            <div class="col-12">
              <label for="dateFin" class="form-label">Date Fin</label>
              <input id="dateFin" name="dateFin" type="date" class="form-control" required [(ngModel)]="conge.dateFin">
            </div>

            <div class="col-12">
              <label for="raison" class="form-label">Raison</label>
              <textarea id="raison" name="raison" class="form-control" rows="4" cols="4" [(ngModel)]="conge.raison"></textarea>
            </div>

            <div class="col-12 text-center">

                <button (click)="save()" class="btn btn-success px-5 mt-3">Demander</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
